@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


*{
    padding: 0;
    margin: 0;
}

header {
    margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px; /* Adjust this value as needed */
}

header img {
	max-width: 100%;
	max-height: 100%;
}
main{
    margin-top: 10%;
}
.timer {
    user-select: none;
    margin-left: 28%;
    font-family: barlow;
	font-size: 100px;
    color: white;
}
.tag{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Delicious Handrawn;
	font-size: 30px;
    color: white;
}

span {
	color: #fff;
}
.down_name{
    margin-left: 30%;
    font-family: Abel;
}

.d{
    margin-left: 15.5%;
}

.h{
    margin-left: 15%;
}

.s{
    margin-left: 13%;
}


.floating-menu {
    position: fixed;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.menu-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 0 10px;
}

.menu-icon {
    width: 35px;
    user-select: none;
    height: 35px;
    -webkit-user-drag: none; /* For Safari */
    -khtml-user-drag: none; /* For Konqueror HTML */
    -moz-user-select: none; /* For Firefox */
    -moz-user-drag: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    -ms-user-drag: none; /* For Internet Explorer/Edge */
}

.menu-icon:hover{
    width: 40px;
    height: 40px;
}